.detailBackImage img{
    width: 100%;
    height: 600px;
}

.whiteBackground{
    width: 90%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.titleDetails{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    padding: 20px;
}

.subtitle p{
    font-family:cursive;
    font-size: 20px;
}

.subtitle{
    padding-left: 30px;
    padding-bottom: 10px;
}

.whatYoullLearn{
    padding-left: 30px;
    padding-bottom: 10px;
}

.requirement{
    padding-left: 30px;
    padding-bottom: 10px;
}

.description {
    padding-left: 30px;
    /* padding-right: 30px; */
}

.description p{
    padding-left: 30px;
    padding-right: 50px;
}

.enrollButton {
    background-color: #5E7BD5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 70px;
    cursor: pointer;
    margin-left: 30px;
}

.enrollButton p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.FreePhoto1 img {
    width: 30%; /* Adjust as needed */
    height: auto; /* This will maintain aspect ratio */
    max-width: 300px; /* Set a maximum width */
    position: absolute;
    right: 0; /* Align to the right */
    margin-right: 5%; /* Adjust as needed */
    margin-top: -5%; /* Adjust as needed */
}


